<div class="container-sm bg-dark rounded">
  <div class="bg-warning row justify-content-center">
    <a class="navbar-brand" href="/">
      <h1><i class="fas fa-exchange-alt" class="d-inline-block align-top"></i>
        Link Shortener</h1>
    </a>
  </div>
  <div class="row justify-content-center">
    <img src="/images/change_noback.png" alt="Link Shortener" width="350" height="350">
  </div>
  <div class="row mt-4">
    <form action="/" method="POST" class="col-8 mx-auto">
      <div class="form-row justify-content-center">
        <label for="originLink">
          <h4 class="font-weight-bolder text-muted">The Link that you want to shorten</h4>
        </label>
        <input type="URL" placeholder="Input URL like http://..... " id="originLink" name="originLink"
          class="form-control" value="{{ originLink }}" required>
        <button type="submit" class="col-4 mx-auto my-3 btn btn-outline-success">Shorten</button>
      </div>
    </form>
  </div>
  <div class="row">
    <a href="{{ originLink }}" class="col-8 mx-auto">
      <input class='text-primary  mx-auto form-control' type="text" placeholder="Shorten URL..." id="shortenLink"
        value='{{ shortenLink }}' readonly>
    </a>
  </div>
  <div class="row">
    <button class="col-4 mx-auto my-3 btn btn-outline-info" onclick="copyLink()">Copy</button>
  </div>
</div>
<div class="row justify-content-right mx-2 font-weight-lighter"><a href='htttps://.pngtree.com/so/圖表'>圖表 png來自
    pngtree.com</a></div>